<!DOCTYPE html>
<html>
<head>
        {% load static %}
      {% load static %}
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script src="https://kjur.github.io/jsrsasign/jsrsasign-all-min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/sjcl/1.0.8/sjcl.js"></script>
       <script src = "https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.js"></script>
    <script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>
    <link rel="script"  href = "{% static 'scripts/group.js'%}" >
	<div style = "height:10vh;width:110vw;position:absolute;left:-5vw;top:-.5vh;background-color:#0068AF"></div>
	<!--Bar at top of display-->
	<div style = "height:12.5vh;position:relative">
        <h1 style = "float:left;margin-left:2.5%;color:white">{{groupName}}</h1>
		<div style = "height:25vh;width:25vh;background-color:white;border-radius:100%;margin-left:70vw;position:relative;box-shadow: 5px 10px 8px #888888;">
			<div style = "height:90%;width:90%;text-align:center;margin: 0;position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%);border: 3px solid #0068AF;border-radius:100%">
				<div style = "height:100%;width:100%;border-radius:100%;margin:auto;position:relative;">
					<img style = "height:100%" src = "{% static './images/camponile2.png'%}" />
				</div>
			</div>
		</div>
	</div>

 <script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

    var fetchResource = function(resourceName,nameAndExtension)
    {
     
    var keyGen = KEYUTIL
        var isMember = "{{groupMember}}"
  
        if(isMember == "False")
        {
            Swal.fire({
                title: 'You are not a member of this group!',
                text: "You will be downloading an encrypted file",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, continue'
                }).then((result) => {
                if (result.value) {
                    
                    let csrftoken = getCookie('csrftoken');      
                 console.log(csrftoken)
                 $.ajaxSetup({
                     beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                         }
                 });

                    $.ajax(
                                                            
                                                                            options = {
                                                                                contentType : false,
                                                                                processData:false,
                                                                                url :"./"+groupId+ "/downloadEncrypted/"+resourceName, // the endpoint
                                                                                type : "POST", // http method
                                                                                data:{},
                                                                                dataType: 'text',
                                                                                // handle a successful response
                                                                                success : function(data,status,xhr) {
                                                                                
                                                                                 
                                                                                    var blob = new Blob([data], {
                                                                                        type: 'text'
                                                                                    });
                                                                                    saveAs(blob, nameAndExtension);
                                                                                  

                                                                            },
                                                                        

                                                                        error : function(xhr,errmsg,err) {
                                                                                    Swal.fire({
                                                                                    type: 'error',
                                                                                    title: 'Oops...',
                                                                                        text: 'Somethings gone wrong',
                                                                                    
                                                                                    })
                                                                                    console.log(errmsg)
                                                                                    console.log(err)
                                                            
                                                                                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                                                                                }
                                                                            });

                }
                })
        }
        else{
            var groupId = "{{groupID}}"
         var pubKey = document.getElementById("pubKey").innerHTML
               //configure csrf token for ajax post
                let csrftoken = getCookie('csrftoken');      
                 console.log(csrftoken)
                 $.ajaxSetup({
                     beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                         }
                 });
                //grab byte structure of the PEM public key
                 var blob = new Blob([pubKey], {
                     type: 'application/x-pem-file'
                 });
                
                 //attach blob file to form structure to send to the backend
                 filename = "key.pem"
                 var form = new FormData();
                 const file = new File([blob],filename, {type: "application/x-pem-file"})
                 form.append("key", file);
                
                 $.ajax(
    
                     options = {
                         contentType : false,
                         processData:false,
                         url :"./"+groupId+ "/uploadKey/", // the endpoint
                         type : "POST", // http method
                         data:form,
                         dataType: 'text',
                        //symmetric key is returned by the django back end
                        success : function(symmetricKey,status,xhr) {
                            //data here is the encrypted session key. Rename later
                            var privKeyFile = document.getElementById('privateKey').files[0];
                            var reader = new FileReader();
                            //open private key PEM file from client
                            reader.readAsText(privKeyFile);
                            reader.onload = function(e) {
                                // browser completed reading file - display it
                                console.log(e.target.result)
                                var privateKeyPemText = keyGen.getKey(e.target.result)
                                var privateKey = keyGen.getKeyFromPlainPrivatePKCS8PEM(e.target.result)
                                // the sessionID is the decrypted symmetric key
                                var sessionID = KJUR.crypto.Cipher.decrypt(symmetricKey, privateKey,"RSAOAEP")
                                console.log(sessionID)

                                      

                                        
//can all be commented out from here

//to here. genertating encrypted file from before

                                                                    //we have the session key now ask for the file

                                                                        var groupId = "{{groupID}}"
                                                                        $.ajax(
                                                            
                                                                            options = {
                                                                                contentType : false,
                                                                                processData:false,
                                                                                url :"./"+groupId+ "/download/"+resourceName, // the endpoint
                                                                                type : "POST", // http method
                                                                                data:{},
                                                                                dataType: 'text',
                                                                                // handle a successful response
                                                                                success : function(data,status,xhr) {
                                                                                
                                                                                    
                                                                                    console.log("about to do decryption on the following data:")
                                                                                    //data = JSON.parse(data)
                                                                                    console.log("data: ",data)
                                                                                    var decrypted = sjcl.decrypt(sessionID, data)
                                                                                    console.log("oh mate I think weve done it")
                                                                                    console.log(decrypted)
                                                                                    console.log(decrypted)
                                                                                    var blob = new Blob([decrypted], {
                                                                                        type: 'text'
                                                                                    });
                                                                                    saveAs(blob, nameAndExtension);
                                                                                    console.log(data)

                                                                                Swal.fire("Decryption? - Completed M8")

                                                                                    

                                                                                    //Add the link somewhere, an appendChild statement will do.
                                                                                    //Then run this
                                                        //                            document.getElementById('someLink').click();
                                                                            },
                                                                        
                                                        //                         // handle a non-successful response
                                                                        error : function(xhr,errmsg,err) {
                                                                                    Swal.fire({
                                                                                    type: 'error',
                                                                                    title: 'Oops...',
                                                                                        text: 'An error was returned. Data not written to database!',
                                                                                    
                                                                                    })
                                                                                    console.log(errmsg)
                                                                                    console.log(err)
                                                            
                                                                                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                                                                                }
                                                                            });



                                        

                                        // PROCESS
                                        
                                        
                                        
                                      
                                        
                                     //var newUrl = "groups/"+ data
                                     // $.get( newUrl,function(){});
                                     //go to dashboard view
                                     //window.location.replace(newUrl);
                                        }
                                 
                               

                             

                             //Add the link somewhere, an appendChild statement will do.
                            //Then run this
//                            document.getElementById('someLink').click();
                    },
                
//                         // handle a non-successful response
                   error : function(xhr,errmsg,err) {
                            Swal.fire({
                               type: 'error',
                               title: 'Oops...',
                                text: 'An error was returned. Data not written to database!',
                               
                              })
                             console.log(errmsg)
                             console.log(err)
    
                            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                        }
                     }
               );


        }



//             };
//     }
//     else{
//         Swal.fire("You Haven't selected a file!")
//     }
 }


 
 </script>   
</head>
<body style = "background-color:#d8d8d8">
    <h1  style = "display:none"id = "pubKey">{{publicKey}}</h1>
            <div class = "panel" >
                
					{% for file in files %}
                    <div style = "height:5vh"></div>
                    
                        <div class = "panel" style ="cursor:pointer;height:15vh; width:40vw; background-color:white; border-radius:20px; box-shadow: 10px 10px 8px #888888;margin-left:5vw;position:relative">
                            <div style = "  margin: 0;position: absolute;top: 50%;transform: translate(0%, -50%);height:100%;width:100%">
                                
                                <div style = "float:left;width:8%;height:100%;"></div>
                                
                                <div style = "height:100%;width:20%;font-size:2em;float:left;color:#0068AE">
                                     <div style = "height:35%;width100%"></div>
                                    <div style = "font-size:1.5em;white-space: nowrap;">{{file.fileName|slice:":14"}}</div>
                                    <div style = "height:20%;width100%"></div>
                                </div>
                                
                                <div style = "float:left;height:100%;width:0%;"></div>
                                <div style = "float:right;width:30%;height:100%">
                                    <div style = "float:right;width:80%;height:100%;position:relative"></div>
                                    <div style = "float:right;width:20%;height:100%;position:relative">
                                        <div style = "height:20%;width100%"></div>
                                        
                                            <a >    
                                                <div style = "height:60%;width:100%;border-radius:10px;color:white;font-size:1.75em;line-height: 60%;text-align: center;">
                                                    {% load static %}
                                                    <!--href = "download/{{file.fileId}}"-->
                                                    
                                                    <img onclick='fetchResource("{{file.fileId}}","{{file.fileName}}")' id = "down" style = "height:100%" src = "{% static 'images/cloud.png'%}">
                                                </div>
                                            </a>
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    
					{% endfor %}
			
               
			</div>
            <div id = "upload" style = "cursor:pointer;height:50vh;width:30vh;float:right;position:absolute;right:1vh;top:30vh;background-color:white">
                <div style = "height:8%"></div>
                <div style = "width:70%;margin:auto;height:50%"><img style = "width:100%;height:auto" src = "{% static './images/upload.png'%}" /></div>
                <div style = "margin:auto;width:65%">
                <input id= "fileUpload" type = "file"></input>
                <input id= "privateKey" type = "file" ></input>
                </div>
                <div style = "height:5%"></div>
                <div id = "uploadSubmit" style = "margin:auto;border-radius:10px;height:12%;width:60%;background-color:#0068AF;color:white">Upload</div>
            </div>


<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


$(document).ready(function(){
$("#uploadSubmit").click(function(){
    var isMember = "{{groupMember}}"
  
    if(isMember == "False")
    {
    
            Swal.fire({type: 'error',title: 'Oops...',text: 'Only Group Members May Upload Files!',})
         
       
    }
    else{
    var keyGen = KEYUTIL
    var privKeyFile = document.getElementById('privateKey').files[0];
    var fileUpload = document.getElementById('fileUpload').files[0];
   

                var pubKey = document.getElementById("pubKey").innerHTML
                console.log(pubKey)
                 //make blob of the pem structure
                 var blob = new Blob([pubKey], {
                     type: 'application/x-pem-file'
                 });
                
                 //attach blob file to form structure to send to the backend
                 filename = "key.pem"
                 var form = new FormData();
                 const file = new File([blob],filename, {type: "application/x-pem-file"})
                 form.append("key", file);
               
                let csrftoken = getCookie('csrftoken');      
                 console.log(csrftoken)
                 $.ajaxSetup({
                     beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                         }
                 });
                var groupId = "{{groupID}}"
                 $.ajax(
    
                     options = {
                         contentType : false,
                         processData:false,
                         url :"./"+groupId+ "/uploadKey/", // the endpoint
                         type : "POST", // http method
                         data:form,
                         dataType: 'text',
                        
                         // handle a successful response
                        success : function(data,status,xhr) {
                         
                            console.log(data)
                           

                                 if (true) {

                                     var privKeyFile = document.getElementById('privateKey').files[0];
                                       var reader = new FileReader();
                                        reader.readAsText(privKeyFile);
                                        reader.onload = function(e) {
                                            // browser completed reading file - display it
                                        console.log(e.target.result)
                                        var privateKeyPemText = keyGen.getKey(e.target.result)
                                       
                                        var privateKey = keyGen.getKeyFromPlainPrivatePKCS8PEM(e.target.result)
                                        
                                        // symmetric key has been obtained from previous ajx request
                                        var sessionID = KJUR.crypto.Cipher.decrypt(data, privateKey,"RSAOAEP")
                                        // get the file we want to upload from a html input tag
                                        var fileUpload = document.getElementById('fileUpload').files[0];
                                        reader.readAsText(fileUpload);
                                        reader.onload = function(e) {
                                            // e.target.result => the bytes of the desired file from the file reader

                                            //encrypt the bytes from the file using the sjlc encrypt function
                                            var encrypted = sjcl.encrypt(sessionID, e.target.result)
                                            // make blob of encrypted data to transmit using ajax
                                            var blob = new Blob([e.target.result], {type: "text"})
                                            // explicitly call the encrypted text cypher text for claritys sake
                                            var fileCipherText =(encrypted)
                                            //name that file will be called on dropbox
                                            var fileName = fileUpload.name
                                            //the group to upload the file to
                                            var groupId = "{{groupID}}"
                                            $.ajax(
                                                options = {
                                                    url :"./"+groupId+ "/encryptedFileUpload/"+fileName, // the endpoint
                                                    type : "POST", // http method
                                                    data:{encryptedFile:fileCipherText},
                                                
                                                // handle a successful response
                                                success : function(data,status,xhr) {
                                                
                                                    console.log(data)
                                                                                

                                                                                    Swal.fire({
                                                                                        title: 'File Upload Complete!',
                                                                                        type: 'success',
                                                                                        confirmButtonColor: '#3085d6',
                                                                                        confirmButtonText: 'Ok'
                                                                                    }).then((result) => {
                                                                                        if (result.value) {

                                                

                                                    
                                                                                        }
                                                                                    })

                             
                                                                            },
                                                  
                                                                        error : function(xhr,errmsg,err) {
                                                                                    Swal.fire({
                                                                                    type: 'error',
                                                                                    title: 'Oops...',
                                                                                        text: 'An error was returned. Data not written to database!',
                                                                                    
                                                                                    })
                                                                                    console.log(errmsg)
                                                                                    console.log(err)
                                                            
                                                                                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                                                                                }
                                                                            }
                                                                    );



                                        }

                                        // PROCESS
                                        
                                        
                                        
                                      
                                        
                                     //var newUrl = "groups/"+ data
                                     // $.get( newUrl,function(){});
                                     //go to dashboard view
                                     //window.location.replace(newUrl);
                                        }
                                 }
                        

                             

                             //Add the link somewhere, an appendChild statement will do.
                            //Then run this
//                            document.getElementById('someLink').click();
                    },
                
//                         // handle a non-successful response
                   error : function(xhr,errmsg,err) {
                            Swal.fire({
                               type: 'error',
                               title: 'Oops...',
                                text: 'An error was returned. Data not written to database!',
                               
                              })
                             console.log(errmsg)
                             console.log(err)
    
                            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                        }
                     }
               );



    }


//             };
//     }
//     else{
//         Swal.fire("You Haven't selected a file!")
//     }
 })

})
</script>
</body>
</html>