<!DOCTYPE html>
<head>
{% load static %}
			<link rel="stylesheet" href="{% static 'CSS/index.css'%}">
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://kjur.github.io/jsrsasign/jsrsasign-all-min.js"></script>
</head>
<body>
    
    <h1>This is tcomms baby</h1>
      <form action = "/kms/submit" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

    <div style = "height:3vh;width:3vw;background-color:aqua" id = "clickme"></div>
  <input type="file" id="input">


<div style = "float:right;height:30vh;width:30vw;">
      <form class="box" method="post" action="" enctype="multipart/form-data">
  <div class="box__input">
    <input class="box__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
    <label for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
    <button class="box__button" type="submit">Upload</button>
  </div>
  <div class="box__uploading">Uploading&hellip;</div>
  <div class="box__success">Done!</div>
  <div class="box__error">Error! <span></span>.</div>
</form>

</div>

  <script>



    

    var keyGen = KEYUTIL
        var test = keyGen.generateKeypair("RSA", 2048)
        var privateKey = test.prvKeyObj;
        var publicKey = test.pubKeyObj;
        console.log("keyObj : ",privateKey)

        console.log("hasnt broken baby")

    $("document").ready(function(){
        $("#clickme").click(function(){
           
            const selectedFile = document.getElementById('input').files[0];
            console.log(selectedFile)
           
            var reader = new FileReader();
            //var bin = reader.readAsArrayBuffer ( selectedFile )
        

            
            


            // Read the file
            //reads the file and outputs a base 64 string
              reader.readAsDataURL(selectedFile);
            // Specify the handler for the `load` event
              reader.onload = function (e) {
               
                //the results of reading in the file
                var bytes = e.target.result;
                //returns a hexadecimal encrypted string
                var encrypted = KJUR.crypto.Cipher.encrypt(bytes, publicKey, "RSAOAEP")
                console.log(encrypted)

                //can decrypt a hexadecimal string using the private key
                var decrypt = KJUR.crypto.Cipher.decrypt(encrypted, privateKey, "RSAOAEP")
                console.log(decrypt)
              }
              
              

            
            //alert(encrypted)
        })
        
    })
        


    </script>
</body>