<!DOCTYPE html>
<head>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.js"></script>
    <script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'CSS/index.css' %}">
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script src="https://kjur.github.io/jsrsasign/jsrsasign-all-min.js"></script>
      
      {% load static %}
      <script src  = "{% static 'scripts/index.js' %}"></script>
</head>
<body>
    
    <!--h1>This is tcomms baby</h1>
      <form action = "/kms/submit" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>


    <div style = "height:3vh;width:3vw;background-color:aqua" id = "clickme"></div>
  <input type="file" id="input">

  -->
  <div class = "overlay">
   
  </div>
  <div style ="height:20vh"></div>
  <div class = "keyInput">
    <div class = "keyImageContainer">
      <div style = "height:20%"></div>
        <div class = "keyImageRow">
          <div class = "keyImageWrapper">
              {% load static %}
              <img class ="keyImage" src  = "{% static 'images/key.png' %}" />
          </div>
        </div>
      <div style = "height:20%"></div>
    </div>


    <div class = "keyInputContainer">
      <div style = "height:15%"></div>
      <div   class = "keyInputTitle">Key Please</div>
      <div style = "height:5%"></div>
      <div class = "keyInputBox">
        <input type = "file" id = "pemInput" ></input>
         <!---input type = "file" id = "privKey"></input-->
      </div>
      <div style = "height:10%"></div>
      <div class = "submitButtons">
        <div style = "height:100%;width:70%;margin:auto">
          <div id = "genKey">
              <div class = "center">I'm New!</div>
          </div>
          <div id = "submitKey">
             <div class = "center">Submit</div>
          </div>
        </div>
      </div>

        
    </div>
  </div>













<script>
  
</script>

</body>